<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Notícias</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <!-- Botão Novo -->
        <div class="mb-3">
            <a routerLink="/cadastro_noticia" class="btn btn-primary">Novo</a>
        </div>

        <!-- Tabela -->
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Título</th>
                                <th scope="col">Corpo</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (not of noticia$; track not.id){
                            <tr>
                                <th>{{not.id}}</th>
                                <th>{{not.titulo}}</th>
                                <th>{{not.corpo}}</th>
                                <th>{{not.categoria?.nome}}</th>
                                <th>
                                    <button type="button" (click)="editar(not.id)" class="btn btn-sm btn-primary me-2">Editar</button>
                                    <button type="button" (click)="remover(not.id)" class="btn btn-sm btn-danger">Excluir</button>
                                </th>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>